@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9%; /* neutral-900 */
    --foreground: 0 0% 98%; /* zinc-50 */
  }

  body {
    @apply bg-background text-foreground;
    @apply font-sans;
    min-height: 100dvh;
  }
}
